[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mtgjsonsdk"]
	path = mtgjsonsdk
	url = https://github.com/mtgjson/mtgjson-sdk-r
